body{
	background-image:url("assets/sss222bg.png");
	background-repeat:no-repeat;
	background-size:100% 100%;
	cursor: url("assets/cursor.png"), auto;	
}
div.logo{
	height:25%;width:100%;
}
img.logo{
	height:160%;width:35%;
}